.animated-grid {
    height: 85vh;

    display:grid;
    gap: 1rem;
    grid-template-areas:
    'a b c d'
    'l x x e'
    'k x x f'
    'j i h g';

    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 240px auto auto 240px;
}
/* finish css on edpuzzle 1:20